@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
		url("../public/zenitsu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: red;
}

::-webkit-scrollbar-thumb {
	background: blueviolet;
	border-radius: 5px;
}

:-webkit-slider-thumb:hover {
	background: yellow;
}
